* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 100%;
}

.page-container {
    width: 100%;
    height: 100%;
}

.logo {
    padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
     background-color: #f9e3bf;  
     align-items: center;
     border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    
}

#hamnav {
    position:relative;
}

#hamitems {
    border: 2px solid;
    background-color: white;
    position: absolute;
    width: 300px;
    left: 0;
    top: 100%;
    z-index: 1;
    text-align: center;
}

 /* HAMBURGER MENU: (A) BREAK INTO VERTICAL MENU */
 #hamitems a {
    box-sizing: border-box;
    display: block;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15%;
  }

 /* (B) ANIMATE HAMBURGER MENU */
  .hamburger {
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 50%;
    width: 20px;
    height: 16px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 7px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

  .checkbox1:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 22px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 22px;
}


  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
  #checkbox1 {display: none;}

.right-links {
    margin-top: 1%;
    margin-right: 2%;
}
.right-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 8px;
    
}



  

h1 { /*
    font-size: 30px;
    left: 560px;
    position: absolute;
    top: 120px;*/
text-align: center;
font-size: 30px;
padding-top: 4rem;
}

h2 {
    font-size: 16px;
}

.Message {
font-size: 18px;
position: absolute;
left: 410px;
top: 190px;
text-align: center;
}

.address {
font-size: 16px;
position: absolute;
left: 560px;
top: 300px;
text-align: center;
}

.homelogo {
position: absolute;
top: 310px;
left: 510px;
}

.email-Link {
font-size: 16px;
position: absolute;
left: 560px;
top: 390px;
text-align: center;
}

.maillogo {
position: absolute;
top: 390px;
left: 510px;
}

.phoneNumber {
    font: 30px;
    position: absolute;
    left: 580px;
    top: 448px;}

.phonelogo {
    position: absolute;
    top: 450px;
    left: 510px;
}

.thanksContainer {
font: 16px;
position: absolute;
left: 350px;
top: 500px;
text-align: center;
background-color: lightgrey;
width: 550px;
border: 1.5px solid black;
padding: 40px;
margin: 20px;
border-radius: 25px;
}

.facebook {
    position: absolute;
    left: 570px;
    top: 690px;
}

.insta {
    position: absolute;
    left: 600px;
    top: 690px;
}

.linkedin {
    position: absolute;
    left: 630px;
    top: 690px;
}

.twitter {
    position: absolute;
    left: 660px;
    top: 690px;
}

.youtube {
    position: absolute;
    left: 690px;
    top: 690px;
}

@media screen and (max-width: 546px) {
    h1 {
     text-align: center;
     padding-top: 4rem;
     position: absolute;
    top: 20px;
    left: 105px;
    }

    .Message {
        
    top: 150px;
    left: 1px;
    margin: 20px;
        font-size: 16px;
    position: absolute;
    
    }
  
    .address {
        left: 110px;
    }

    .homelogo {
    left: 60px;
    }

    .email-Link {
    left: 110px;
    }

    .maillogo {
     left: 60px;
    }

    .phonelogo {
    left: 60px;
    
    }

    .phoneNumber {
    left: 130px;
    top: 450px;
    }

    .thanksContainer {
    width: 300px;
    left: 15px;
    top: 550px;
    padding: none;
    height: 120px;
    }

    .facebook {
    left: 120px;
    top: 700px;
    }

    .insta {
    left: 150px;
    top: 700px;
    }

    .linkedin {
    left: 180px;
    top: 700px;

    }

    .twitter {
    left: 210px;
    top: 700px;
    }

    .youtube {
        left: 240px;
        top: 700px;
    }

    h2 {
    position: absolute;
    top: 4px;
    left: 50px;
    }

    .CU {
        top: 40px;
    }

    
}
  
    


