* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    overflow:auto;
}

.page-container {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #b1d8b7;
   
}

#hamnav {
    position:relative;
  
}
#hamitems {
    border: 2px solid;
    background-color: white;
    position: absolute;
    width: 300px;
    left: 0;
    top: 100%;
    z-index: 1;
    text-align: center;
}

 /* HAMBURGER MENU: (A) BREAK INTO VERTICAL MENU */
 #hamitems a {
    box-sizing: border-box;
    display: block;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15%;
  }

 /* (B) ANIMATE HAMBURGER MENU */
  .hamburger {
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 50%;
    width: 20px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.hamburger .bar {
    padding: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 7px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

  .checkbox1:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 22px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 22px;
}


  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
  #checkbox1 {display: none;}

.subscribe {
    margin-top: 20%;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
}

label {
    display: inline-block;
    margin-top: 10%;
}

input[type="email"] {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-size: 14px;
    text-indent: 5%;
    margin-top: 10px;
    width: 75%;
    height: 40px;
    margin-bottom: 20px;
    
}

input[type="email"]:focus {
    outline: none;
}
input[type="submit"] {
    border: 0;
    border-radius: 50px;
    font-size: 14px;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    margin-left: -50px;
    width: 25%;
    height: 40px;
    cursor: pointer;

}

.right-links {
    margin-right: 2%;
    margin-top: 1%;
}
.right-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-left: 8px;
    
}

.logo {
    padding-left: 89px;
}
.logo img {
    width: 100%;
    height: auto;
}

/* .openBtn {
    background: transparent;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}
  
  
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}
  
.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}
  
.overlay .closebtn:hover {
    color: #ccc;
}
  
.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
}
  
.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
    margin-left: -50px;
}
  
.overlay button:hover {
    background: #bbb; 
}
.form {
    display: flex;
    justify-content: center;
} */

/* BODY OF LANDING PAGE CODE BELOW */
/* BODY OF LANDING PAGE CODE BELOW */
/* BODY OF LANDING PAGE CODE BELOW */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}
input[type="text"] {
width: 400px;
height: 50px;
/* left: 376px;
top: 90px; */
font-size: 16px;
text-indent: 5%;
background: transparent;
background-image: url("images/landing-page-images/search.svg");
background-repeat: no-repeat;
background-position: 95% 50%;
border: 1px solid rgba(0, 0, 0, 0.15);
box-sizing: border-box;
border-radius: 50px;
margin: 0 20px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* transform: scale(1.04) */
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.social-icons a {
    padding-right: 2%;
}

#fb:hover{
    filter: invert(100%) url(#colorFilter);
}
#ig:hover{
    filter: invert(100%) url(#colorFilter);
}
#li:hover{
    filter: invert(100%) url(#colorFilter);
}
#tw:hover{
    filter: invert(100%) url(#colorFilter);
}
#yt:hover{
    filter: invert(100%) url(#colorFilter);
}

.recipes {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1 {
    margin-top: 8%;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    width: -ms-fit-content;
    width: -webkit-fit-content;
    color: #b1d8b7;
    border-bottom: 40px solid #555;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    font-size: 30px;
}

.grid-container-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.grid-item-main {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    /* height: 200px; */

}

.grid-item-main img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.25s ease-in-out;
}
.grid-item-main img:hover {
    opacity: .7;
    cursor: pointer;
}

.grid-item-main p {
    background-color: #b1d8b782;
    width: -moz-fit-content;
    width: fit-content;
    width: -ms-fit-content;
    width: -webkit-fit-content;
}

footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:  #b1d8b7;
   color:black;
   text-align: center;
}

#svg {
    height: 100px;
}

 
/* MOBILE */
/* MOBILE */
@media screen and (max-device-width: 810px)  {

.logo {
        padding-left: 45px;
    }

.grid-container-main { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
    
} 

.grid-item-main {
    display: unset;
    width: unset;
    padding: 20px;
    text-align: center;
  }

.grid-item-main p {
    width: unset;

}

}