* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    /* background-color: #b1d8b7; */
   
}

#hamnav {
    position:relative;
  
}
#hamitems {
    border: 2px solid;
    background-color: white;
    position: absolute;
    width: 300px;
    left: 0;
    top: 100%;
    z-index: 1;
    text-align: center;
}

 /* HAMBURGER MENU: (A) BREAK INTO VERTICAL MENU */
 #hamitems a {
    box-sizing: border-box;
    display: block;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15%;
  }

 /* (B) ANIMATE HAMBURGER MENU */
  .hamburger {
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 50%;
    width: 20px;
    height: 16px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 7px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

  .checkbox1:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 22px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 22px;
}


  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
  #checkbox1 {display: none;}

.subscribe {
    margin-top: 20%;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
}

label {
    display: inline-block;
    margin-top: 10%;
}

input[type="email"] {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-size: 14px;
    text-indent: 5%;
    margin-top: 10px;
    width: 75%;
    height: 40px;
    margin-bottom: 20px;
}

input[type="email"]:focus {
    outline: 1px solid black;
}
input[type="submit"] {
    border: 0;
    border-radius: 50px;
    font-size: 14px;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    margin-left: -50px;
    width: 25%;
    height: 40px;

}

.right-links {
    margin-right: 2%;
    margin-top: 1%;
}
.right-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-left: 8px;
    
}

.logo {
    padding-left: 89px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}
input[type="text"] {
width: 400px;
height: 50px;
/* left: 376px;
top: 90px; */
font-size: 16px;
text-indent: 5%;
background: transparent;
background-image: url("images/landing-page-images/search.svg");
background-repeat: no-repeat;
background-position: 95% 50%;
border: 1px solid rgba(0, 0, 0, 0.15);
box-sizing: border-box;
border-radius: 50px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transform: scale(1.04)
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.social-icons a {
    padding-right: 1%;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 120px 400px 120px;
    grid-gap: 10px;
    background-color: white;
    
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

.grid-item img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    
}

.stew {
    -webkit-transform:rotate(-90deg);  
    -moz-transform: rotate(-90deg);  
    -ms-transform: rotate(-90deg);  
    -o-transform: rotate(-90deg);  
    transform: rotate(-90deg);  
}

.shrimp {
    -webkit-transform:rotate(-90deg);  
    -moz-transform: rotate(-90deg);  
    -ms-transform: rotate(-90deg);  
    -o-transform: rotate(-90deg);  
    transform: rotate(-90deg);
}

.tacos {
    -webkit-transform:rotate(90deg);  
    -moz-transform: rotate(90deg);  
    -ms-transform: rotate(90deg);  
    -o-transform: rotate(90deg);  
    transform: rotate(90deg);
}

.meatballs {
    -webkit-transform:rotate(90deg);  
    -moz-transform: rotate(90deg);  
    -ms-transform: rotate(90deg);  
    -o-transform: rotate(90deg);  
    transform: rotate(90deg);
}