* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 1em;
   
}


.logo {
   text-align: center;
    padding: .2em;
}



input {
width: 400px;
height: 50px;
font-size: 16px;
text-indent: 5%;
background: transparent;
background-repeat: no-repeat;
background-position: 95% 50%;
border: 1px solid rgba(0, 0, 0, 0.15);
box-sizing: border-box;
border-radius: 50px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transform: scale(1.04)
}

 h1 { 
    font-size: 20px;
}

.FAR {
    height: 30px;
    
}

.SITYA {
    text-align: center;
    
}

.need-account {
    text-align: center;
}

.search-bubbles {
    width: 50%;
    margin: auto;
}

.email-bubble {
    width: 100%;
    height: 48px;
    border-radius: 48px;
    outline: none;
    text-indent: 5%;
    border: 1.5px solid black;
    text-align: left;
    display: flex;
    flex-direction: column;
   
}

.email-contents {
    margin: 30px 0px;
}

.password-contents {
margin: 30px 0px;
}

input[type=checkbox] {
 position: relative;
width: 16px;
height: 16px;

}



.email-label {
    font-weight: bold;
    display:block;
}

.pw-label {
    font-weight: bold;
    display: block;
}



.pw-bubble {
    width: 100%;
    height: 48px;
    border-radius: 48px;
    border: solid black;
    outline: none;
    text-indent: 5%;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    
}

.SI {
    width: 100%;
    height: 48px;
    border-radius: 48px;
    outline: none;
    text-indent: 5%;
    border: 1.5px solid black;
    background-color: #bfc3c0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.hr {
    width:20%;
    text-align: left;
    margin-left:0;
    height:30px
}


.SIWG {
    width: 100%;
    height: 48px;
    border-radius: 48px;
     outline: none;
    text-indent: 5%;
    border: 1.5px solid black;
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
   
}



.second-logo {
    margin: 5px 0px;
    text-align: center;
}

.footer-para {
    
    text-align: center;
    font-size: 14px;
    
}

.FBicon {
    position: relative;
    top: 130px;
    left: 550px;
}

.insta-icon {
    position: relative;
    top: 130px;
    left: 560px;
}

.linked-in {
position: relative;
left: 570px;
top: 130px;
}

.tweet {
position: relative;
left: 580px;
    top: 130px;
}

.yt {
    position: relative;
    left: 590px;
    top: 130px;
}
.test {
    display: none;
}

@media only screen and (max-width: 728px){
    .FAR {
        width: 330px;
    }
    
    
    
    .FBicon {
        position: absolute;
    top: 670px;
    left: 100px;
    }

    .insta-icon {
        top: 670px;
    position: absolute;
    left: 130px;
    }

    .linked-in {
        left: 160px;
    top: 670px;
    position: absolute;
    }

    .tweet {
        position: absolute;
    left: 195px;
    top: 670px;
    }

    .yt {
        position: absolute;
    left: 230px;
    top: 670px;
    }

    .SIWG {
        font-size: 14px;
    }

}

